*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgb(213, 239, 174);
}


.titulo{
    margin-top: 20px;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.espaco-cartas{
    width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    margin: 50px auto; 
}

.carta {
    border-radius: 5%;
    margin-left: 30px;
    width: 160px;
    height: 200px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.face{
    background-color:  #A7E9AF;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
        
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

img{
    position: absolute;
    width: 70%;
    height: 70%;
}

 
.virar .front-face{    
  transform: rotateY(180deg);
}

.virar .back-face{
    transform: rotateY(0deg);
}


@media (max-width: 414px){

.titulo{
    font-size: 30px;
}

.espaco-cartas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
}

.carta{
    margin-top: 10px;
    width: 90px;
    height: 110px;
}
}